name: remote ssh command
on: 
  push:
    branches: [ master ]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        script: | 
          cd Term7Movie/Term7MovieApi/
          git pull
          pkill dotnet
          pkill node
          dotnet run -c Release &> /dev/null &
          cd
          cd Term7Movie/term7movieclient
          git pull
          npm install
          echo -ne "\n" | npm run build
          npm run start:prod &> /dev/null &
          