on:
  push:
    brarches:
      '**'
name: CI/CD for Term7Movie
jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal      
  Build-and-deploy:
    name: Build
    runs-on: ubuntu-latest
    needs: [Test]
    if: github.ref == 'refs/heads/master'
    steps:
    - name: Build and deploy project
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        script: | 
          pkill dotnet
          cd Term7Movie/Term7MovieApi
          git checkout master
          git pull
          dotnet run -c Release > server.log &